// .container: width 1104px on (screens >= 1280px) and 824px on (screens <= 1279px)
// .container.container_adaptive: width =1104px on (screens >= 1280px); and =824px on (768px <= screens <= 1279px); =100% on screens <= 767px
// .container_full-width: width =100% with 24px margins on (screens >= 768px) and 16px margins on (screens <= 767px)
.container {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  @media #{$desktop-lg} {
    width: 75rem;
  }

  @media #{$desktop} {
    width: 58rem;
    padding: 0 3rem;
  }

  &.container_adaptive {
    @media #{$desktop-lg} {
      width: 75rem;
    }

    @media #{$desktop} {
      width: 58rem;
    }

    @media #{$mobile} {
      width: 100%;
      padding: 0 1rem;
      box-sizing: border-box;
    }
  }

  &_full-width {
    width: auto;
    padding: 0 1.5rem;

    @media #{$mobile} {
      padding: 0 1rem;
      box-sizing: border-box;
    }
  }
}
