.row {
  display: flex;
  flex-flow: row wrap;

  @media #{$mobile} {
    margin-left: -4px;
    margin-right: -4px;
  }

  @media #{$tablet-interval} {
    margin-left: -8px;
    margin-right: -8px;
  }

  @media #{$desktop-min} {
    margin-left: -16px;
    margin-right: -16px;
  }
}
