.logo {
  height: 40rem;
  padding: 1.5rem;
}

.logo:hover {
  filter: drop-shadow(0 0 2rem #646cffaa);
  cursor: pointer;
}

.logo.preact:hover {
  filter: drop-shadow(0 0 2rem #673ab8aa);
}

.center {
  display: flex;
  justify-content: center;
}
